<!--QC_INFORMATION-->
<img align="left" style="padding-right:10px;" width="250" src="Marine_logo.jpg">
<h3><center>Benthic Tables</center></h3>

#  Jupyter Notebook for Table Creation

- Create the individual tables as set-out in the database schema.
- Remember that the data type is highly important and must be included in this section.
- The same code snippet can be used for any table creation once a database is created and referenced.
- Note: SQL has protected words which cannot be used for headings, these include "select", "order" and "view" among others. You will need to adjust the naming of such fields prior to scripting.

## Notes
- All you need are the details of the table name, field names & respective data types (whether it is a number or date or string of characters).
- Various libraries including an ODBC driver and the computational focused Pandas are brought in to facilitate the database connection.
- Both Primary Key and Foreign Key connections can be set here using traditional SQL snippets - these snippets can be inserted wherever you see 3 inverted commas (""").
- However, they can also be set at a later date and just table can be created.

#### Establish connection to database
- Enter in server & database details here to connect to DB using your Windows log-in for authentication.

In [1]:
import pyodbc
import pandas as pd

server = r'miags02.marine.ie'
# set to local for demostration purposes, actually on MIAGS02(10.11.1.83)
database = 'Benthic'
driver = '{SQL Server}'
port = '1433'

# for windows authentication, use 'Trusted_Connection=yes'
conn = pyodbc.connect('DRIVER=' + driver + ';PORT=port;SERVER=' + server +
                      ';PORT=1443;DATABASE=' + database
                      + ';Trusted_Connection=yes;')
# instantiates a python db connection object

conn.autocommit = True
cur = conn.cursor()

# details of the table name, field names & respective data types
attributeTableStmt = """
USE Benthic CREATE TABLE attributes (
sample_id nVARCHAR(15) NOT NULL PRIMARY KEY,
dataRequirements nVARCHAR(20),
easting Decimal(38,8),
northing Decimal(38,8),
referenceSystem nVARCHAR(200),
createGeometry geography,
depth Decimal (38,8),
unit_of_depth nVarchar(20),
waterbody_code nVarchar(20),
company nVarchar(200),
latitude Decimal (38,8),
longitude Decimal (38,8),
date datetime,
fieldDescription nVarchar(254),
gearCode nVARCHAR(20),
eUNISCode nVARCHAR(20)
);"""

# Executes Query
cur.execute(attributeTableStmt)

psaTableStmt = """
USE Benthic CREATE TABLE psa ( 
sample_id nVarchar(15) NOT NULL PRIMARY KEY,
Medium_Gravel_greater_8mm decimal(5,5),
Fine_Gravel_4_to_8mm decimal(5,5),
Very_fine_Gravel_2_to_4mm decimal(5,5),
Very_coarse_sand_1_to_2mm decimal(5,5),
Coarse_sand_half_to_1mm decimal(5,5),
Medium_sand_quart_to_half_mm decimal(5,5),
Fine_sand_125_to_250µm decimal(5,5),
Very_fine_sand_62_to_125µm decimal(5,5),
less_63µm_siltClay decimal(5,5),
LOI_percentage_450degrees decimal(5,5),
folk_Classification_1954 nVarchar(max)
);"""

cur.execute(psaTableStmt)

speciesCountTableStmt = """
USE Benthic CREATE TABLE speciesCount ( 
object_id int IDENTITY(1,1) not null PRIMARY KEY,
sample_id nVarchar(15) not null,
Count Int,
AphiaID Int,
Species nVArchar(200)
);"""

cur.execute(speciesCountTableStmt)

referenceCollTableStmt = """
USE Benthic CREATE TABLE referenceCollection ( 
AlphiaID Int NOT NULL PRIMARY KEY,
SD_code nVarchar(200),
Phylum nVarchar(200),
Class nVarchar(200),
Order_Given nVarchar(200),
Family nVarchar(200),
Genus nVarchar(200),
Species nVarchar(200),
Sampling_Location nVarchar(200),
Date_collected datetime,
Picture nVarchar(200),
link_to_worms nVarchar(200)
);"""

cur.execute(referenceCollTableStmt)

iqiSampleStmt = """
USE Benthic CREATE TABLE iqiSampleResult ( 
sample_id nVarchar(15) not null primary key,
waterbody_code nVarchar(20),
IQI_score decimal(5,5),
IQI_Status nVarchar(200),
Year Int
);"""

cur.execute(iqiSampleStmt)

iqiWaterbodyStmt = """
USE Benthic CREATE TABLE iqiWaterbodyResult ( 
sample_id nVarchar(15) not null primary key,
waterbody_code nVarchar(20),
waterbody_name nVarchar(200),
Year Int,
IQI_score decimal(5,5),
IQI_Status nVarchar(200),
Number_of_samples Int,
Probability_High decimal(5,5),
Probability_Good decimal(5,5),
Probability_moderate decimal(5,5),
Probability_poor decimal(5,5),
Probability_bad decimal(5,5)
);"""

cur.execute(iqiWaterbodyStmt)

# foreign keys can be set here now or later

If the code runs correctly, a memory position should be declared and you should be able to view the table(s) in your SQL client app.

If there is an error, don't panic, it's likely a connection issue - try again.
If errors persist, consult a member of Data Management.

[Index](Index.ipynb) | [Create Database](BenthicDatabase-CreateDB.ipynb) | [Update Data](BenthicDatabase-UpdateData.ipynb)